.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  background-color: var(--my-light-blue);
  font-size: 30px;
}

.footer a {
  text-decoration: none;
  color: white;
  margin: 0px 20px;
}

.footer a:hover {
  color: var(--my-dark-blue);
}