.portfolio {
  height: 80vh;
  position: relative;
  margin-bottom: 4rem;
}

#title-project {
  color: var(--my-dark-blue);
  font-size: 2rem;
  text-align: center;
  font-family: var(--my-font);
}

.projects {
  display: flex;
  justify-content: space-evenly;
}

.projects h2 {
  color: var(--my-light-blue);
  text-align: center;
  font-family: var(--my-font);
  padding-top: 20px;
}

#r3 {
  width: 215px;
  height: 450px;
}

#rentabike {
  width: 570px;
  height: 330px;
}

.project1 {
  padding-top: 60px;
}

.project2 {
  padding-top: 120px;
}

#redblob {
  position: absolute;
  width: 500px;
  left: 110px;
  top: 100px;
  z-index: -1;
  transition: transform 0.5s ease-in-out;
}

#redblob2 {
  width: 310px;
  position: absolute;
  right: 120px;
  top: 325px;
  z-index: -1;
  transform: rotate(45deg);
  transition: transform 0.5s ease-in-out;
}

#darkblob {
  width: 310px;
  position: absolute;
  right: 170px;
  top: 50px;
  z-index: -1;
  transition: transform 0.5s ease-in-out;
}